{
  debug: true,
  dumpMessages: true,
  region: process.env.AWS_DEFAULT_REGION,
  accessKeyId: process.env.AWS_ACCESS_KEY_ID,
  secretAccessKey: process.env.AWS_SECRET_ACCESS_KEY,
  period: 60,
  backends: ['./backends/syslog'],
  metrics: [{
    "Namespace": "AWS/DynamoDB",
    "MetricName": "ConsumedReadCapacityUnits",
    "Statistic": "Sum",
    "Unit": "Count",
    "Dimensions": [{ "Name": "TableName", "Value": "mytable" }],
  }],
  syslog: {
    facility: 'local0',
    transport: 'unix',
    vars: {
      'Environment': 'test',
    },
  }
}